/* webPresent.css */

.arrow-button {
  position: absolute;
  bottom: -52px;
  left: 84%;
  transform: translateX(-20%);


    /* position: absolute;
    
    align-items:center;
    transform: translateY(1190%); */
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    /* transition: background-color 0.3s; */
  }

  .left-arrow {
    
    left: 66%; /* 調整左箭頭的位置 */
  }
  
  .right-arrow {
    left: 98%; /* 調整右箭頭的位置 */
  }

  .arrow-button:hover {
    opacity:0.9;
  }



.web-present-container {
    position: relative;
}

/* .web-present {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 590px;
    height: 358px;
    overflow: hidden;
}

.web-present img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.dots-container {
    position: absolute;
    bottom: -40px;
    left: 84%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.dot.active {
    background-color: #6f6f6f;
}

.big_image{
    margin-left:35%;
}


@media (max-width: 576px){



  
}