/* webPresent.css */

.arrow-container {
  position: absolute;
  width: 100%; /* Make the container take full width */
  bottom: 10px; /* Adjust the value as necessary to position below the image */
  text-align: center; /* Center the buttons */
  bottom: -48px;
}

.arrow-button {
    position: absolute;
    bottom: -13%;
    /* left: 84%;
    transform: translateX(-20%); */
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(155, 155, 155);
    font-size: 1.8rem;
  
  }

  .left-arrow {
    left: 52%; /* 調整左箭頭的位置 */
  }
  
  .right-arrow {
    left: 100%; /* 調整右箭頭的位置 */
  }

  .arrow-button:hover {
    color: rgb(205, 205, 205);
  }

  .web-present-container {
      position: relative;
      width: 100%;
      /* margin-bottom: 5%; */
      /* display: flex;
      align-items: center;
      justify-content: space-between; */
    
  }

  .web-present {
    position: relative;
    /* other styles remain unchanged */
}

  .dots-container {
      position: absolute;
      width: 100%;
      bottom: -30px;
      text-align: center;
      left: 123%;
      transform: translateX(-50%);
      display: flex;
      gap: 36px;
      margin-top: 6%;
  }

  .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      cursor: pointer;
  }

  .dot.active {
      background-color: #6f6f6f;
  }

  .big_image{
      margin-left:34%;
  }


@media (max-width: 576px){ 
  .big_image{
    margin-left:4%;
    
}

.arrow-button {
  /* position: relative;
  bottom: -11%;
  left: 50%;
  transform: translateX(-20%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  color: rgb(155, 155, 155); */

  position: relative;
  /* bottom:-18.8rem; */
  /* left: 92%; */
  transform: translateX(-50%);
  /* display: flex; */



}

.left-arrow {
  font-size: 1.6rem;
  left: 30%; /* 調整左箭頭的位置 */
} 

.right-arrow {
  font-size: 1.6rem;
  left: 65%; /* 調整右箭頭的位置 */
}

.dots-container {
  position: relative;
  bottom:-0.8rem;
  left: 92%;
  transform: translateX(-50%);
  display: flex;
  gap: 36px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #6f6f6f;
}
  
}