.banner_img{
    max-width: 100%;
    height: auto;
}
.web-banner
{
    display: block;
    width: 100%;
}
.h5-banner
{
    display: none;
}

.main-content{
    width: 100%;
    height: 200rem;
    background-color: #FFEAF7;
}

@media (max-width: 576px) {
    .web-banner{
        display:none;
        
    }

    .h5-banner{
        display: block;
        width: 100%;
        
    }

    .main-content{
        width: 100%;
        height: 100rem;
        background-color: #FFEAF7;
    }

  }
  