.areabutton{   
    height:3rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 6px;
    letter-spacing: 0.4px;
    width: 9rem;
    

    
}




@media (max-width: 576px){
    .areabutton {
        width: 6.4rem; 
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 2px 5px;
    }

}


