.areabutton{   
    height:3rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 2px 8px;
    letter-spacing: 0.4px;
    width: 9.7rem;

    
}




@media (max-width: 576px){
    .areabutton {
        width: 6.6rem; 
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

}


